.root {
    -fx-background-color: black;
}

.text-area {
    text-area-background: black;
    -fx-text-fill: #00f5ff;
}

.text-area .content {
    -fx-background-color: text-area-background;
}

#h-box {
    -fx-spacing: 230px;
}

#upload_button {
    -fx-background-color: #83ff83;
}
